NEXT_PUBLIC_SUPABASE_URL=https://uoqdywagkslbljowcklv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVvcWR5d2Fna3NsYmxqb3dja2x2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODcyNDc5NTMsImV4cCI6MjEwMjgyMzk1M30.7A2FF3glpw0vvegvl_nxfwAIMATnAAelULmrttvMYx0
